
*{
    padding: 0px 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 200px;
    gap: 40px;
}
button{
    background-color: rgb(35, 56, 245);
    color:rgba(255, 255, 255, 0.767);
    padding: 5px;
    border-radius: 8px;
    align-items: center;
}